<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Space+Grotesk:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/styles.css">
  <title>informed architect</title>
</head>
<body>
  <nav class="nav-bar">
    <div class="nav-home-text">informed architect</div>
    <button class="login-button">Join / Sign in</button>
  </nav>

  <h1>Making architecture more equitable, more just, and more resilient.</h1>
  <div class="dropdown">I want to learn about 
    <button class="link">this position</button>
      <div class="dropdown-menu">
        <div class="dropdown-links">
          <a href="#" class="link">Student Internship</a>
        </div>
        <div class="dropdown-links">
          <a href="#" class="link">Architectural Designer</a>
        </div>
        <div class="dropdown-links">
          <a href="#" class="link">Intern Architect</a>
        </div>
        <div class="dropdown-links">
          <a href="#" class="link">Architect</a>
        </div>
        <div class="dropdown-links">
          <a href="#" class="link">Associate</a>
        </div>
        <div class="dropdown-links">
          <a href="#" class="link">Partner</a>
        </div> 
      </div>    
  </div>
  <script src="/scripts/dropdown-animation.js"></script>
</body>
</html>